<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head") %> 
    <title>Contactanos</title>
</head>
<body>
    <!--INICIO NAV BAR-->
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactanos">Contactanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quienes-somos">¿Quienes somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nuestra-mision">Nuestra mision</a>
        </li>
      </ul>
     <!--FIN NAVBAR-->

     <div class="contenedor-3">
        <div class="card card-description" style="width: 18rem;">
            <img src="/images/nuestroservicio.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                
              <p class="card-text">

                Ofrecemos una escucha activa y acompañamiento en las distintas etapas de su desarrollo. <br>
Creamos un espacio abierto al que puedan recurrir para compartir sus emociones e inquietudes. <br>
Nuestro método se basa en diferenciarnos de las charlas clásicas de los grupos de psicólogos. <br>
¿Cómo? No esperando a actuar cuando los conflictos ya sucedieron, anticipándonos, yendo a buscar 
a los estudiantes a las aulas, invitándolos a una charla amena y privada. <br>
Los vínculos tardan en formarse, pero cuando se generan son indisolubles. Ahí comienza nuestra verdadera tarea. <br>
Aportamos alternativas, marcamos distintos caminos, compartimos nuestras experiencias. <br>
Construimos con ellos su inteligencia emocional.<br>
Damos continuidad y seguimiento a cada individuo. Todos son únicos e importantes.

              </p>
            </div>
          </div>
     </div>

     
                
        

      <!--
                   FOOTER
               -->
               <%-include ("./partials/footer") %> 
                    <!--
                   FIN FOOTER
               -->
               <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>