<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head") %> 
    <title>Contactanos</title>
</head>
<body>
    <!--INICIO NAV BAR-->
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactanos">Contactanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quienes-somos">¿Quienes somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nuestra-mision">Nuestra mision</a>
        </li>
      </ul>
     <!--FIN NAVBAR-->

     <div class="contenedor-3">
        <div class="card card-description" style="width: 18rem;">
            <img src="/images/quienesomos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                
              <p class="card-text">

                Un grupo de más de 10 años de sólida experiencia trabajando con estudiantes. Poseemos una visión del ámbito privado empresarial que nos genera un valor agregado, para no solo analizar las vivencias de los alumnos desde el espacio escolar si no con una mirada del mundo exterior y realista.
                Nos apasiona lo que hacemos. Nos comprometemos con nuestra labor. <br>
                Apuntamos a generar un vínculo de confianza y comodidad con cada uno de los alumnos. <br>
                Brindamos apoyo y orientación en la trayectoria de los alumnos por la escuela. <br>
                Nuestra función genera un equilibrio entre el rendimiento académico, personal y el bienestar social.
                
              </p>
            </div>
          </div>
     </div>

     
                
        

      <!--
                   FOOTER
               -->
               <%-include ("./partials/footer") %> 
                    <!--
                   FIN FOOTER
               -->
               <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>